<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359916780413-gc6d0rljql6dule1djj02r0dh53m2gn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359916780413-gc6d0rljql6dule1djj02r0dh53m2gn9</string>
	<key>API_KEY</key>
	<string>AIzaSyA1AntY7QqNhLGiMuuWPo4JxDj_Sqh2Ne8</string>
	<key>GCM_SENDER_ID</key>
	<string>359916780413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edule.edule</string>
	<key>PROJECT_ID</key>
	<string>edule-9aa77</string>
	<key>STORAGE_BUCKET</key>
	<string>edule-9aa77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359916780413:ios:c661409a71f60b6e162a14</string>
</dict>
</plist>